<form 
 method="post">
    <div class="imgcontainer">
      <img src="../../assets/images/BMW.jpg" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" [(ngModel)]="name" placeholder="Enter Username" name="name" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" [(ngModel)]="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" (click) = "addData()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  </form>